body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.title{
    z-index: 100;
    position: absolute;
    font-size: 88px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
}

.search-container{
    position: absolute;
    z-index: 100;
    top: 230px;
    left: 100px;
    width: 400px;
    height: 60px;
    background-color: #454E53;
    border-radius: 30px;
    display: flex;
}

.search-container .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 45px;
}

.search-container input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search-container input:focus{
    outline: none;
}

.search i{
    font-size: 25px;
    color: white;
    right: 50px;
}

.stores-list-container{
    width: 350px;
    background: white;
    position: absolute; 
    z-index: 100;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 30px;
}

.store-container{
    display: flex;
    border-bottom: 1px solid #979797;
    cursor:pointer;
}


.store-address{
    font-size: 21px;
    color: #514c4c;
    margin-top: 30px;

}

.store-phone-number {
    color: #B5ADAD;
    margin-top:15px;
    margin-bottom:15px;
}

.store-address span{
    display: block;
}

.marker i{
    color: red;
    position: absolute;
    overflow: hidden;
    z-index: 100;
    top: 500px;
    left: 500px;
}

.store-number{
    width: 30px;
    height: 30px;
    background-color: #454e53;
    color: #B5ADAD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.store-info-container{
    flex-grow: 1;
}

.store-number-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stores-list{
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}


.store-info-window{
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name{
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,.87);

}

.store-info-status{
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-number{
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.circle{
    height: 30px;
    width: 30px;
    background-color: #1985A1;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

}.search i{
    cursor: pointer;
}

.store-container-background{
    display: flex;
    flex-grow: 1;
    margin: 8px;
    border-radius: 18px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: all 0.3s ease-in-out;
}

.store-container-background:hover{
    background-color: #CCC;
}