{% extends 'base.html' %}

{% block content %}


<div class="site-wrap">
    <a href="#" class="border px-3 py-2 bg-secondary offcanvas-toggle js-offcanvas-toggle">Menu</a>
    <div class="offcanvas_menu" id="offcanvas_menu">
        <ul class="mb-5">
            <li class="active"><a href="{% url 'core:home' %}">Home</a></li>
            <li><a href="{% url 'core:history' %}">Short History</a></li>
            <li><a href="{% url 'core:map' %}">Map</a></li>
            <li><a href="{% url 'core:contact' %}">Contact</a></li>
        </ul>

        <ul class="social">
            <li><a target="_blank" href="https://www.facebook.com/mateusz.wrobel.796" class="mr-2 mb-2"><i
                    class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://github.com/mateuszwwwrobel" class="mr-2 mb-2"><i
                    class="fa fa-github"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w/videos"
                   class="mr-2 mb-2"><i class="fa fa-youtube"></i></a></li>
        </ul>

        <div>
            </br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </div>

    <aside style="background-image: url(static/img/profile.jpg); transform: rotate(360deg);"></aside>

    <main>
        <h1 class="mb-0">March Stones of The Freedom Lands of Aberdeen</h1>
        <div class="mb-5">
            <p class="text-dark lead mb-3">This website will introduce you to an unknown history of march stones.
            Discover a mystery written between the narrow streets of the city and its surroundings.</p>

            <p class="text-dark">Please refer to <a href="{% url 'core:history' %}">History</a> to read more about them.
            </p>
            <p class="text-dark">Please find a <a href="{% url 'core:map' %}">Map</a> with locations of all of them.
                Please be aware that some of them are not publicly accessible.</p>
            <p class="text-dark">Let's travel back in time!</p>


        </div>


        <p>
            <a target="_blank" href="https://www.facebook.com/mateusz.wrobel.796" class="pr-2 mb-2">Facebook<i
                    class="pl-2 fa fa-facebook"></i></a>
            <a target="_blank" href="https://github.com/mateuszwwwrobel" class="pr-2 mb-2">Github<i
                    class="pl-2 fa fa-github"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w/videos" class="pr-2 mb-2">Youtube<i
                    class="pl-2 fa fa-youtube"></i></a>
        </p>
</div>


{% endblock content %}

    

    

